
<!-- Image and text -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg);">
  <div class="container text-center">

    <h1>Mr. Cocktail Da_ZL</h1>
    <p>Help yourself!!</p>

    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">


<div class="cards mt-3 text-center" >
  <% @cocktails.each do |c| %>
  <% link = cl_image_path c.photo.key %>
  <div class="card-category m-1 rounded" style="height: 200px;
    background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= link %> ) ">
    <h5 class="text-warning mt-2"> Call for: <strong> <%= c.name %> </strong>  </h5>
<p class="align-text-bottom" > <%= link_to "more", cocktail_path(c) %> </p>
      <% c.doses.each do |dose| %>
      <p class="text-white text-justify ml-3"> <%= dose.description %> - <%= dose.ingredient.name %> </p>
      <% end %>
  </div>

<% end %>

</div>


</div>











